*.1
*.cxx
*.dia~
*.la
*.lo
*.o
*.pc
*.so
*.swp
*~
*.patch
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
confdefs.h
config.guess
config.log
config.status
config.sub
configure
conftest.c
depcomp
doxyfile
doxyfile.stamp
examples/particules/COPYING
examples/particules/INSTALL
examples/particules/Makefile
examples/particules/Ogre.log
examples/particules/config.h
examples/particules/config.h.in
examples/particules/partickle
examples/particules/stamp-h1
html/
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
prototypes/any
prototypes/fusion/vec
prototypes/kinect/freedraw
prototypes/midi/alsalist
doc/html/*.html
doc/html/doxygen/
plugins-base/tests/check_average
plugins-base/tests/check_base
plugins-base/tests/check_math
plugins-base/tests/check_slide
prototypes/matrix_type/blobreceiver
prototypes/matrix_type/blobsender
prototypes/matrix_type/check_array
prototypes/matrix_type/matrix
prototypes/matrix_type/proto_armadillo
prototypes/midi/midiprobe
prototypes/midilooper-gui/run
prototypes/midilooper-gui/signals_to_messages
prototypes/modules/main
prototypes/nodefactory
prototypes/phoenix/findif
prototypes/tuples
prototypes/va_list/var_types
prototypes/variant
src/midilooper/midilooper
src/midilooper/threadedscheduler
src/osc-forward/osc-forward
src/tempi-draw/tempi-draw
src/tempi-inspect/tempi-inspect
src/tempi-launch/tempi-launch
src/tempi-osc-looper/tempi-osc-looper
tempi-*.tar.gz
tempi/config.h
tempi/config.h.in
tempi/stamp-h1
tempi/table/.dirstamp
tempi/tempi-version.h
tempi/tempi.pyste
tests/check_fsm
tests/check_graph
tests/check_libraries
tests/check_log
tests/check_message
tests/check_node
tests/check_nodefactory
tests/check_osc
tests/check_osc_nodes
tests/check_properties
tests/check_serializer
tests/check_table
tests/check_timer
tests/check_track
tests/check_version

# -------------------------
# negations:
!prototypes/kinect/Makefile
!prototypes/midi/Makefile
!prototypes/midilooper-gui/Makefile
!prototypes/modules/Makefile
!prototypes/matrix_type/Makefile
!prototypes/mapofsharedobjects/Makefile
!doc/html
