*.1
*.cxx
*.dia~
*.la
*.lo
*.o
*.patch
tempi*.pc
*.pdf
*.so
*.swp
*~
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
confdefs.h
config.guess
config.log
config.status
config.sub
configure
conftest.c
depcomp
doc/html/*.html
doc/html/doxygen/
doxyfile
doxyfile.stamp
doxymain.h
examples/particules/COPYING
examples/particules/INSTALL
examples/particules/Makefile
examples/particules/Ogre.log
examples/particules/config.h
examples/particules/config.h.in
examples/particules/partickle
examples/particules/stamp-h1
html/
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
plugins-base/tests/check_average
plugins-base/tests/check_base
plugins-base/tests/check_line
plugins-base/tests/check_math
plugins-base/tests/check_slide
plugins-base/tests/test
prototypes/any
prototypes/atom-factory/run
prototypes/fusion/vec
prototypes/kinect/freedraw
prototypes/matrix_type/blobreceiver
prototypes/matrix_type/blobsender
prototypes/matrix_type/check_array
prototypes/matrix_type/matrix
prototypes/matrix_type/proto_armadillo
prototypes/midi/alsalist
prototypes/midi/midiprobe
prototypes/midilooper-gui/run
prototypes/midilooper-gui/signals_to_messages
prototypes/modules/main
prototypes/nodefactory
prototypes/phoenix/findif
prototypes/tuples
prototypes/va_list/var_types
prototypes/variant
src/miller/miller
src/tempi-draw/tempi-draw
src/tempi-inspect/tempi-inspect
src/tempi-launch/tempi-launch
src/tempi-midi-looper/tempi-midi-looper
src/tempi-osc-forward/tempi-osc-forward
src/tempi-osc-looper/tempi-osc-looper
tempi-*.tar.gz
tempi/config.h
tempi/config.h.in
tempi/stamp-h1
tempi/table/.dirstamp
tempi/tempi-version.h
tempi/tempi.pyste
tempi/tests/check_average
tempi/tests/check_base
tempi/tests/check_fsm
tempi/tests/check_graph
tempi/tests/check_libraries
tempi/tests/check_log
tempi/tests/check_math
tempi/tests/check_message
tempi/tests/check_node
tempi/tests/check_nodefactory
tempi/tests/check_osc
tempi/tests/check_osc_nodes
tempi/tests/check_properties
tempi/tests/check_serializer
tempi/tests/check_slide
tempi/tests/check_table
tempi/tests/check_timer
tempi/tests/check_track
tempi/tests/check_version
tempi/tests/check_wrapper
tempi/tests/test

# NEGATIONS:
!doc/html
!prototypes/kinect/Makefile
!prototypes/mapofsharedobjects/Makefile
!prototypes/matrix_type/Makefile
!prototypes/midi/Makefile
!prototypes/midilooper-gui/Makefile
!prototypes/modules/Makefile

