Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
*.o
src/tempi
*.pc
.deps/
.libs/
tempi/config.h
tempi/config.h.in
*.la
*.lo
tempi/stamp-h1
tempi/tempi-version.h
tests/check_version
tests/check_fsm
tests/check_timer
*.dia~
